/* ::before{

    content:'';
    width: 20px;
    height: 2px;
    background-color: #64748b;   
    margin-top: 10px;
    margin-right: 5px;
} */
:root {
    --primary-color: #4AFFEB; /* A nice blue color */
}
.link:hover{
    a {
        --tw-text-opacity: 1;
        color: rgb(241 245 249 / var(--tw-text-opacity));
        span {
            height: 2px;
            width: 4rem /* 64px */;
            background-color: rgb(241 245 249 / var(--tw-text-opacity)); ;
        }
    }
}
.active{
    display: flex;
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-bg-opacity)) /*#64748b*/;
    /* background-color: rgb(241 245 249 / var(--tw-bg-opacity)) #f1f5f9; */
}
.active-span{
    --tw-text-opacity: 1;
    margin-top:0.5rem /* 8px */;
    margin-right: 0.75rem /* 12px */;
    height: 2px;
    width: 4rem /* 64px */;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) /* #f1f5f9 */;

}
.footer>a:hover{
    color: var(--primary-color);
}